<div class="header"><span id="title">It's Lit</span></div>
<dl>
  <% @profile.businesses.each do |value| %>
    <dd><br>
    <div class = "entry">
    <h1><a href ="#"><%= value.name %></a></h1><br>
    <img src="<%=value.image_url%>"><br>
    <br><p class="demos">
    <%= value.location.display_address %><br>
    <%= value.location.coordinate.latitude %>
    <%= value.location.coordinate.longitude %><br>
    <%= value.location.neighborhoods %><br>
    Phone:<%= value.display_phone %><br></p>
		</div>
    <hr>
  <% end %>
</dl>



